* {
	padding: 0;
	margin: 0;
}
body {
	width: 100vw;
	height: 100vh;
	background-color: var(--color-background);
	color: var(--color-text);
	transition:
		background-color 0.3s,
		color 0.3s;
}

#root {
	width: 100%;
	height: 100%;
}

/* .btn-primary {
	@apply text-primary bg-primary p-2 rounded;
} */
